.id
  %h1
  %p Here is the landing page I was telling you about.
= link_to privacy_policy_path, {class: "btn btn-lg btn-warning"} do
  .fa.fa-warning
  Privacy Policy

  
= link_to courses_path, class: "btn btn-lg btn-success" do
  .fa.fa-book
  Courses
